.arizona_cardinals_primary_color {
    color: #97233F;
}

.arizona_cardinals_background_color {
    background-color: #97233F;
    color: #000000;
}

.atlanta_falcons_primary_color{
    color: #A71930;
}

.atlanta_falcons_background_color{
    background-color: #A71930;
    color: #000000;
}

.baltimore_ravens_primary_color {
    color: #241773;
}

.baltimore_ravens_background_color {
    background-color: #241773;
    color: #9E7C0C;
}

.buffalo_bills_primary_color {
    color: #00338D;
}

.buffalo_bills_background_color {
    color: #00338D;
    background-color: #C60C30;
    font-weight: bold;
}

.carolina_panthers_primary_color {
    color: #0085CA;
}

.carolina_panthers_background_color {
    background-color: #0085CA;
    color: #000000;
}

.chicago_bears_primary_color {
    color: #0B162A;
}

.chicago_bears_background_color {
    background-color: #0B162A;
    color: #C83803;
}

.cincinnati_bengals_primary_color {
    color: #000000;
}

.cincinnati_bengals_background_color {
    background-color: #000000;
    color: #FB4F14;
}

.cleveland_browns_primary_color {
    color: #FB4F14;
}

.cleveland_browns_background_color {
    background-color: #FB4F14;
    color: #22150C;
}

.dallas_cowboys_primary_color {
    color: #002244;
}

.dallas_cowboys_background_color {
    background-color: #002244;
    color: #ACC0C6;
}

.denver_broncos_primary_color {
    color: #002244;
}

.denver_broncos_background_color {
    background-color: #002244;
    color: #FB4F14;
}

.detroit_lions_primary_color {
    color: #005A8B;
}

.detroit_lions_background_color {
    background-color: #005A8B;
    color: #B0B7BC;
}

.green_bay_packers_primary_color {
    color: #203731;
}

.green_bay_packers_background_color {
    background-color: #203731;
    color: #FFB612;
}

.houston_texans_primary_color {
    color: #03202F;
}

.houston_texans_background_color {
    background-color: #03202F;
    color: #A71930;
}

.indianapolis_colts_primary_color {
    color: #002C5F;
}

.indianapolis_colts_background_color {
    background-color: #002C5F;
    color: #A5ACAF;
}

.jacksonville_jaguars_primary_color {
    color: #006778;
}

.jacksonville_jaguars_background_color {
    background-color: #006770;
    color: #d7a22a;
}

.kansas_city_chiefs_primary_color {
    color: #E31837;
}

.kansas_city_chiefs_background_color {
    background-color: #E31837;
    color: #FFB612;
}

.los_angeles_chargers_primary_color {
    color: #002244;
}

.los_angeles_chargers_background_color {
    background-color: #002244;
    color: #FFB612;
}

.los_angeles_rams_primary_color {
    color: #002244;
}

.los_angeles_rams_background_color {
    background-color: #002244;
    color: #B3995D;
}

.miami_dolphins_primary_color {
    color: #008E97;
}

.miami_dolphins_background_color {
    background-color: #008E97;
    color: #F58220;
}

.minnesota_vikings_primary_color {
    color: #4F2683;
}

.minnesota_vikings_background_color {
    background-color: #4F2683;
    color: #FFC62F;
}

.new_england_patriots_primary_color{
    color: #002244;
}

.new_england_patriots_background_color{
    background-color: #002244;
    color: #B0B7BC;
}

.new_orleans_saints_primary_color {
    color: #9F8958;
}

.new_orleans_saints_background_color {
    background-color: #9F8958;
    color: #000000;
}

.new_york_giants_primary_color {
    color: #0B2265;
}

.new_york_giants_background_color {
    background-color: #0B2265;
    /* color: #A71930; */
    color: #FFFFFF;
}

.new_york_jets_primary_color {
    color: #203731;
}

.new_york_jets_background_color {
    background-color: #203731;
    color: #FFFFFF;
}


.las_vegas_raiders_primary_color {
    color: #A5ACAF;
}

.las_vegas_raiders_background_color {
    background-color: #A5ACAF;
    color: #000000;
}

.philadelphia_eagles_primary_color {
    color: #004953;
}

.philadelphia_eagles_background_color {
    background-color: #004953;
    color: #A5ACAF;
}

.pittsburgh_steelers_primary_color {
    color: #000000;
}

.pittsburgh_steelers_background_color {
    background-color: #000000;
    color: #FFB612;
}

.san_francisco_49ers_primary_color {
    color: #AA0000;
}

.san_francisco_49ers_background_color {
    background-color: #AA0000;
    color: #B3995D;
}

.seattle_seahawks_primary_color {
    color: #002244;
}

.seattle_seahawks_background_color {
    background-color: #002244;
    color: #A5ACAF;
}

.tampa_bay_buccaneers_primary_color {
    color: #D50A0A;
}

.tampa_bay_buccaneers_background_color {
    background-color: #D50A0A;
    color: #000000;
}

.tennessee_titans_primary_color {
    color: #002244;
}

.tennessee_titans_background_color {
    background-color: #002244;
    color: #4B92DB;
}

.washington_football_team_primary_color {
    color: #773141;
}

.washington_football_team_background_color {
    background-color: #773141;
    color: #FFB612;
}